@import './modules/variables.css';
@import './modules/reset.css';
@import './modules/text.css';

a {
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: underline;
    color: var(--color-primary);
    cursor: pointer;
    transition: .2s ease;
}

main {
    width: 100vw;
    height: 100vh;
    padding: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--color-bg);
}

section, div.hero {
    border-radius: 2rem;
}

div.hero {
    background-image: url('../images/hero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 20rem rgba(0, 0, 0, 0.5) inset;
}

div.hero > i {
    margin: 6.8rem 0 0 2.4rem;
    font-size: 4.6rem;
    color: var(--color-primary-lighter);
}

section.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
section.form > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    width: 50rem;
    padding: 4rem;
    border-radius: 2rem;

    background-color: white;
    filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.075));
}

form > div.form-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

div.form-block > h2 {
    font-size: 3.6rem;
    font-weight: 500;
    color: var(--color-dark);
    margin-bottom: .4rem;
}
div.form-block > p {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--color-dark);
    margin-bottom: 1.6rem;
}

div.form-block > p > a:hover {
    color: var(--color-primary-dark);
}

div.form-block.dual {
    flex-direction: row;
    gap: 1.6rem;
}
div.form-block.dual > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    gap: 1rem;
}
div.form-block.check {
    flex-direction: row;
    justify-content: flex-start;
    gap: calc(var(--checkbox-size) + 1rem);
}

.checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 1.6rem;
  padding-top: calc(var(--checkbox-size) / 6);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox > a {font-weight: 600;}
.checkbox > input {position:absolute;opacity:0;cursor:pointer;height:0;width: 0}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--checkbox-size);
  width: var(--checkbox-size);
  background-color: var(--checkbox-color);
  border-radius: var(--checkbox-border-radius);
  transition: .1s ease;
}
.checkbox:hover input ~ .checkmark {
  background-color: var(--checkbox-color-hover);
}
.checkbox input:checked ~ .checkmark {
  background-color: var(--checkbox-color-selected);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} 

label, span {
    color: var(--color-dark);
    font-weight: 600;
    font-size: 1.4rem;
}
label > span {
    color: var(--color-primary-dark);
}
label > i{
    margin-left: .4rem;
    color: var(--color-dark);
    font-size: 1.4rem;
    cursor: pointer;
}

input {
    height: var(--input-height);
    width: 100%;

    font-size: 1.4rem;
    padding: 0 1rem;

    border-radius: .4rem;
    border: 2px var(--color-light) solid;
    background-color: white;

    transition: .2s ease;
}
input:hover {
    border-color: var(--color-primary-light);
}
input:focus {
    border-color: var(--color-primary);
}
input[type="submit"] {
    color: var(--color-darker);
    font-size: 1.6rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background-color: var(--color-primary-light);
}
input[type="submit"]:hover {
    background-color: var(--color-primary);
}


h1 {
    color: var(--color-primary-light);
    font-weight: 700;
    font-family: "Quicksand", sans-serif;
}
div.logo {
    display: flex;
    gap: 1rem;
}
div.logo > h1, i {
    color: var(--color-primary-light);
    font-size: 5.6rem;
}